* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

@keyframes anim {
  0% {
    background-image: url(../src/orgstim.png);
  }
  100% {
    background-color: black;
  }
}
.main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
}
.main .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main .main-container .burger-btn {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 15px;
  z-index: 2;
}
.main .main-container .burger-btn span {
  margin-left: 5px;
  margin-top: 10px;
  position: absolute;
  background-color: rgb(218, 35, 35);
  width: 40px;
  height: 3px;
  z-index: 2;
}
.main .main-container .burger-btn span:nth-child(2) {
  transform: translateY(10px);
}
.main .main-container .burger-btn span:nth-child(3) {
  transform: translateY(20px);
}
.main .main-container .header {
  position: fixed;
  width: auto;
  margin-top: 20px;
  border-radius: 0 0 25px 25px;
}
.main .main-container .header .menu {
  display: flex;
  justify-content: center;
}
.main .main-container .header .menu .link {
  color: rgb(240, 222, 222);
  font-size: 20px;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
.main .main-container .all {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main .main-container .all .backGif {
  background: url(../src/typer.gif);
  filter: brightness(30%);
  background-size: cover;
  width: 1519px;
  height: 780px;
  margin-top: -55px;
  z-index: -1;
}
.main .main-container .all .offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -500px;
}
.main .main-container .all .offer .offer-container {
  display: flex;
  text-align: center;
  font-size: 65px;
  font-weight: bold;
  color: rgb(240, 222, 222);
}
.main .main-container .all .offer .downArrow {
  margin-top: 250px;
  width: 100px;
  height: 35px;
}
.main .main-container .all .introduction {
  margin-top: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main .main-container .all .introduction .introduction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  widows: 100%;
}
.main .main-container .all .introduction .introduction-container .title {
  font-size: 50px;
  margin-top: 100px;
  border-bottom: 3px solid rgb(218, 35, 35);
  border-top: 3px solid rgb(218, 35, 35);
}
.main .main-container .all .introduction .introduction-container .mPhoto {
  margin-top: 70px;
}
.main .main-container .all .introduction .introduction-container .mPhoto img {
  width: 300px;
  height: 280px;
  border-radius: 50%;
}
.main .main-container .all .introduction .introduction-container .discription {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.main .main-container .all .introduction .introduction-container .discription .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 50px;
  font-size: 20px;
}
.main .main-container .all .introduction .introduction-container .discription .info .warn {
  margin-top: 30px;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 25px;
  color: rgb(240, 222, 222);
  font-size: 20px;
  font-weight: 500;
}
.main .main-container .all .skills {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.main .main-container .all .skills .skills-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main .main-container .all .skills .skills-container .soft {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main-container .all .skills .skills-container .soft .title {
  font-size: 50px;
  margin-top: 100px;
  border-bottom: 3px solid rgb(218, 35, 35);
  border-top: 3px solid rgb(218, 35, 35);
}
.main .main-container .all .skills .skills-container .soft .info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85%;
  margin-top: 80px;
  margin-bottom: 80px;
}
.main .main-container .all .skills .skills-container .soft .info .skill {
  margin: 40px;
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
  border-bottom: 1px solid rgb(218, 35, 35);
}
.main .main-container .all .skills .skills-container .soft .info .skill:hover {
  background-color: rgb(218, 35, 35);
  cursor: pointer;
  color: rgb(240, 222, 222);
  border-radius: 15px;
}
.main .main-container .all .skills .skills-container .hard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main-container .all .skills .skills-container .hard .title {
  font-size: 50px;
  margin-top: 100px;
  border-bottom: 3px solid rgb(218, 35, 35);
  border-top: 3px solid rgb(218, 35, 35);
}
.main .main-container .all .skills .skills-container .hard .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.main .main-container .all .skills .skills-container .hard .info .direction {
  margin-top: 80px;
  font-size: 35px;
  border-bottom: 3px solid rgb(218, 35, 35);
  width: 150px;
  text-align: center;
}
.main .main-container .all .skills .skills-container .hard .info .steck {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-inline-size: 85%;
  margin-inline: auto;
  margin-top: 60px;
}
.main .main-container .all .skills .skills-container .hard .info .steck img {
  width: 145px;
  height: 125px;
  margin: 50px;
  border-radius: 7%;
}
.main .main-container .all .skills .skills-container .hard .info .steck .an {
  width: 175px;
  height: 125px;
}
.main .main-container .all .skills .skills-container .hard .info .steck .nodeJS {
  width: 300px;
  height: 150px;
}
.main .main-container .all .skills .skills-container .hard .info .steck .bem {
  width: 175px;
  height: 125px;
}
.main .main-container .all .skills .skills-container .hard .info .steck .css {
  width: 110px;
}
.main .main-container .all .skills .skills-container .hard .info .steck .webpack {
  width: 185px;
  height: 150px;
}
.main .main-container .all .skills .skills-container .hard .info .steck .csharp {
  width: 120px;
}
.main .main-container .all .skills .skills-container .hard .info .steck .github {
  width: 200px;
}
.main .main-container .all .portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.main .main-container .all .portfolio .experience {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main-container .all .portfolio .experience .title {
  font-size: 50px;
  margin-top: 100px;
  border-bottom: 3px solid rgb(218, 35, 35);
  border-top: 3px solid rgb(218, 35, 35);
}
.main .main-container .all .portfolio .experience .places {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 50px;
  font-size: 20px;
  text-align: left;
  list-style-type: none;
}
.main .main-container .all .portfolio .experience .places .place {
  margin: 10px;
}
.main .main-container .all .portfolio .portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main .main-container .all .portfolio .portfolio-container .title {
  font-size: 50px;
  margin-top: 100px;
  border-bottom: 3px solid rgb(218, 35, 35);
  border-top: 3px solid rgb(218, 35, 35);
}
.main .main-container .all .portfolio .portfolio-container .cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}
.main .main-container .all .portfolio .portfolio-container .cards .orgstim .pictureO {
  background-image: url(../src/orgstim.png);
  width: 450px;
  height: 255px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  margin: 20px;
  border: 1px solid black;
}
.main .main-container .all .portfolio .portfolio-container .cards .orgstim .pictureO .pictureOhov {
  display: none;
}
.main .main-container .all .portfolio .portfolio-container .cards .orgstim .pictureO:hover .pictureOhov {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 95%;
  color: rgb(240, 222, 222);
}
.main .main-container .all .portfolio .portfolio-container .cards .orgstim .pictureO:hover .pictureOhov a {
  text-decoration: none;
  color: rgb(218, 35, 35);
  margin-bottom: 25px;
}
.main .main-container .all .portfolio .portfolio-container .cards .fz115 .pictureF {
  background-image: url(../src/fz115.png);
  width: 450px;
  height: 255px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  margin: 20px;
  border: 1px solid black;
}
.main .main-container .all .portfolio .portfolio-container .cards .fz115 .pictureF .pictureOhov {
  display: none;
}
.main .main-container .all .portfolio .portfolio-container .cards .fz115 .pictureF:hover .pictureOhov {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 95%;
  color: rgb(240, 222, 222);
}
.main .main-container .all .portfolio .portfolio-container .cards .fz115 .pictureF:hover .pictureOhov a {
  text-decoration: none;
  color: rgb(218, 35, 35);
  margin-bottom: 25px;
}
.main .main-container .all .portfolio .portfolio-container .cards .kzbank .pictureK {
  background-image: url(../src/kzbank.png);
  width: 450px;
  height: 255px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  margin: 20px;
  border: 1px solid black;
}
.main .main-container .all .portfolio .portfolio-container .cards .kzbank .pictureK .pictureOhov {
  display: none;
}
.main .main-container .all .portfolio .portfolio-container .cards .kzbank .pictureK:hover .pictureOhov {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 95%;
  color: rgb(240, 222, 222);
}
.main .main-container .all .portfolio .portfolio-container .cards .kzbank .pictureK:hover .pictureOhov a {
  text-decoration: none;
  color: rgb(218, 35, 35);
  margin-bottom: 25px;
}
.main .main-container .all .contacts {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
}
.main .main-container .all .contacts .contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.main .main-container .all .contacts .contacts-container .title {
  font-size: 50px;
  margin-top: 100px;
  border-bottom: 3px solid rgb(218, 35, 35);
  border-top: 3px solid rgb(218, 35, 35);
}
.main .main-container .all .contacts .contacts-container .connection {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.main .main-container .all .contacts .contacts-container .connection .data {
  display: flex;
  flex-direction: column;
}
.main .main-container .all .contacts .contacts-container .connection .data .phone {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.main .main-container .all .contacts .contacts-container .connection .data .phone a {
  text-decoration: none;
  color: black;
}
.main .main-container .all .contacts .contacts-container .connection .data .socials {
  display: flex;
  justify-content: space-around;
}
.main .main-container .all .contacts .contacts-container .connection .data .socials .social {
  display: flex;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
}
.main .main-container .all .contacts .contacts-container .connection .data .socials .social .tg {
  width: 60px;
}
.main .main-container .all .contacts .contacts-container .connection .data .socials .social .git {
  width: 100px;
}
.main .main-container .all .contacts .contacts-container .connection .data .socials .social .mail {
  color: black;
  font-size: 20px;
}
.main .main-container .all .contacts .contacts-container .connection .cv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main-container .all .contacts .contacts-container .connection .cv .cvText {
  font-size: 20px;
}
.main .main-container .all .contacts .contacts-container .connection .cv img {
  margin-top: 10px;
  width: 250px;
}

@media (min-width: 1599px) {
  .main {
    width: 100vw;
  }
  .main .main-container .all .backGif {
    background: url(../src/typer.gif);
    filter: brightness(30%);
    background-size: cover;
    width: 100vw;
    height: 780px;
    margin-top: -55px;
    z-index: -1;
  }
}
@media (max-width: 500px) {
  .main .main-container .burger-btn {
    display: block;
  }
  .main .main-container .header {
    position: fixed;
    width: 175px;
    margin-top: 0;
    left: -500px;
    top: 0px;
    align-content: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 0 0 10px 10px;
    padding: 55px;
  }
  .main .main-container .header .menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .main .main-container .header .menu .link {
    color: rgb(240, 222, 222);
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
    position: relative;
  }
  .main .main-container .all .offer .offer-container {
    font-size: 35px;
  }
  .main .main-container .all .offer .downArrow {
    width: 80px;
    height: 35px;
  }
  .main .main-container .all .introduction {
    margin-top: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .main .main-container .all .introduction .introduction-container .title {
    margin-top: 10px;
    font-size: 40px;
  }
  .main .main-container .all .introduction .introduction-container .discription {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  .main .main-container .all .introduction .introduction-container .discription .info {
    font-size: 15px;
  }
  .main .main-container .all .introduction .introduction-container .discription .info .warn {
    font-size: 15px;
  }
  .main .main-container .all .skills {
    margin-top: 30px;
  }
  .main .main-container .all .skills .skills-container .soft .title {
    margin-top: 0px;
    font-size: 40px;
  }
  .main .main-container .all .skills .skills-container .soft .info {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .main .main-container .all .skills .skills-container .soft .info .skill {
    font-size: 20px;
  }
  .main .main-container .all .skills .skills-container .hard .title {
    font-size: 40px;
    margin: 30px;
  }
  .main .main-container .all .skills .skills-container .hard .info {
    align-items: center;
  }
  .main .main-container .all .skills .skills-container .hard .info .direction {
    font-size: 32px;
    margin-top: 40px;
    width: auto;
  }
  .main .main-container .all .skills .skills-container .hard .info .steck {
    margin-top: 30px;
  }
  .main .main-container .all .skills .skills-container .hard .info .steck img {
    width: 120px;
    height: 105px;
    margin: 50px;
    border-radius: 7%;
  }
  .main .main-container .all .skills .skills-container .hard .info .steck .an {
    width: 155px;
    height: 115px;
  }
  .main .main-container .all .skills .skills-container .hard .info .steck .nodeJS {
    width: 275px;
    height: 100px;
  }
  .main .main-container .all .skills .skills-container .hard .info .steck .bem {
    width: 155px;
    height: 105px;
  }
  .main .main-container .all .skills .skills-container .hard .info .steck .css {
    width: 85px;
  }
  .main .main-container .all .skills .skills-container .hard .info .steck .webpack {
    width: 165px;
    height: 120px;
  }
  .main .main-container .all .skills .skills-container .hard .info .steck .csharp {
    width: 100px;
  }
  .main .main-container .all .skills .skills-container .hard .info .steck .npm {
    width: 120px;
    height: 80px;
  }
  .main .main-container .all .portfolio {
    margin-top: 0px;
  }
  .main .main-container .all .portfolio .experience .title {
    font-size: 40px;
    margin-top: 30px;
  }
  .main .main-container .all .portfolio .experience .places {
    font-size: 15px;
  }
  .main .main-container .all .portfolio .portfolio-container .title {
    font-size: 40px;
    margin-top: 30px;
  }
  .main .main-container .all .portfolio .portfolio-container .cards {
    margin-top: 30px;
  }
  .main .main-container .all .portfolio .portfolio-container .cards .orgstim .pictureO {
    background-image: url(../src/orgstim.png);
    width: 300px;
    height: 170px;
  }
  .main .main-container .all .portfolio .portfolio-container .cards .fz115 .pictureF {
    background-image: url(../src/fz115.png);
    width: 300px;
    height: 170px;
  }
  .main .main-container .all .portfolio .portfolio-container .cards .kzbank .pictureK {
    background-image: url(../src/kzbank.png);
    width: 300px;
    height: 170px;
  }
  .main .main-container .all .contacts {
    margin-bottom: 50px;
  }
  .main .main-container .all .contacts .contacts-container .title {
    font-size: 40px;
    margin-top: 30px;
  }
  .main .main-container .all .contacts .contacts-container .connection {
    margin-top: 50px;
  }
  .main .main-container .all .contacts .contacts-container .connection .data .phone {
    font-size: 15px;
  }
  .main .main-container .all .contacts .contacts-container .connection .data .socials {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .main .main-container .all .contacts .contacts-container .connection .data .socials .social {
    display: flex;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
  }
  .main .main-container .all .contacts .contacts-container .connection .data .socials .social .tg {
    width: 30px;
  }
  .main .main-container .all .contacts .contacts-container .connection .data .socials .social .git {
    width: 70px;
  }
  .main .main-container .all .contacts .contacts-container .connection .data .socials .social .mail {
    color: black;
    font-size: 15px;
  }
  .main .main-container .all .contacts .contacts-container .connection .cv .cvText {
    font-size: 15px;
  }
  .main .main-container .all .contacts .contacts-container .connection .cv img {
    margin-top: 10px;
    width: 170px;
  }
.main .main-container .all .skills .skills-container .hard .info .direction {
  min-width: 150px;
  }

}
@media (max-width: 407px) {
  .main .main-container .header {
    width: 90%;
  }
  .main .main-container .header .menu .link {
    margin: 5px;
  }

  .main .main-container .all .skills .skills-container .hard .info .direction {
  width: auto;
}
}/*# sourceMappingURL=style.css.map */
